dependency-reduced-pom.xml
.classpath
.factorypath
.project
.settings
.vscode
.goutputstream*
notsrc
target
src/main/resources/images/cards/*.png
src/main/resources/images/cards/large/old
src/main/resources/images/monsters/RoseBush/*.atlas
src/main/resources/images/monsters/RoseBush/skeleton*.png
src/main/resources/images/monsters/FuzzyDie/*.atlas
src/main/resources/images/monsters/FuzzyDie/skeleton*.png
src/main/resources/images/monsters/HeadLouse/images
src/main/resources/images/monsters/HeadLouse/scaled
src/main/resources/images/relics/*.png
src/main/resources/images/relics/outline
src/main/resources/images/powers/32
src/main/resources/images/powers/64
src/main/resources/images/powers/large/old
*.o
*.hi
*.class
*.exe
